<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyChats</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
  <header>
    <h1></h1>
    <br>
    <nav>
      <ul>
        <li> <a href="/newpost">Add Post</a></li>
        <li><a href="/log-out">Log Out</a></li>
      </ul>
    <nav>
      <ul>
        <!-- Add navigation links here -->
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2></h2>
      <div class="posts">
                 <div class="post">
            <div class="post-content">
                <form action="/secret" method="post">
            <div>
              <label for="secret">Guess my favorite letter of the alphabet to be part of the secret club</label>
              <input type="text" id="secret" name="secret" required>
              <button type="submit">Submit</button>
          
            </div>
            </form>
          </div>

      </div>
    </section>
  </main>
  <footer>
    <p>&copy; <%= new Date().getFullYear() %> OnlyChats. All rights reserved.</p>
  </footer>
</body>
</html>